/* Slider1.css */

.slider-container {
  overflow: hidden;
  position: relative;
}

.slider-content {
  display: flex;
  transition: transform 0.7s ease-out;
}

.slider-arrow {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
}
